body{
    background-image: url("background3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial;
    font-family: sans-serif;

}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    color: white;
    text-shadow: 0 0 5px black;
}

h2{
    font-size: 35px;
    color: rgba(16, 223, 16, 0.877);
    text-shadow: 0 0 10px black;

}

h3
{
    font-size: 25px;
    color: white;
    text-shadow: 0 0 5px black;
}
li
{
    font-size: 20px;
    color: white;
    text-shadow: 0 0 5px black;
}

a {
    font-size: 50px;
    color: black;
    text-align: right;
    text-decoration: none;
}

.menu > li{
    font-size: 50px;
    list-style-type: none;
    float: right;
    margin: 25px;
    background-color: white;
    border: black ridge;
    text-shadow: none;
}
.menu > li:hover{
    background-color: green;
}


